@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {

.btn-login{
  @apply   w-full bg-orange-600 text-slate-50 py-2 rounded  text-lg hover:bg-white hover:border-e-blue-950 hover:text-blue-950 border-2 border-e-gray-100 font-bold font-['Montserrat']
}

.btn-sis{
  @apply   flex flex-row items-center justify-center gap-4 w-full bg-zinc-900 text-slate-50 py-2 rounded  text-lg hover:bg-blue-100 hover:border-blue-950 hover:text-blue-950 border-2 border-e-gray-100 font-bold font-['Montserrat']
}

.btn-principal {
    @apply bg-blue-950 text-white rounded-lg px-4 py-2 font-semibold hover:bg-blue-800 transition ;
  }

  

.label_eti1 {
  @apply text-gray-50  text-xs mb-2  font-['Montserrat'] font-bold pt-1
}

.caja_detexto{
  @apply bg-slate-50 p-3  rounded-md border border-gray-400 mb-2 font-['Montserrat']   text-sm font-bold text-zinc-900 focus:shadow-2xl 
}

.social {

   @apply shadow-sm p-3 font-bold text-2xl  text-white rounded-full cursor-pointer

}

.menuP {
 @apply  flex flex-col items-center gap-3  border-2 font-['Montserrat'] font-bold border-zinc-50 justify-between bg-[#142234]  text-slate-100 p-12 border-spacing-x-1 shadow-xl rounded-md m-2 hover:bg-slate-500 cursor-pointer 
}


.buttton_1 {
  @apply flex flex-row justify-center items-center m-1 bg-slate-50  border shadow-lg p-3 rounded-md hover:bg-slate-600 hover:text-white text-3xl
}



}


.loader {
  --color-1: #fff;
  --size: 1px;

  width: calc(106 * var(--size));
  height: calc(56 * var(--size));
  display: block;
  margin: calc(30 * var(--size)) auto;
  background-image:
    linear-gradient(var(--color-1) calc(50 * var(--size)), transparent 0),
    linear-gradient(var(--color-1) calc(50 * var(--size)), transparent 0),
    linear-gradient(var(--color-1) calc(50 * var(--size)), transparent 0),
    linear-gradient(var(--color-1) calc(50 * var(--size)), transparent 0),
    radial-gradient(circle calc(14 * var(--size)), var(--color-1) 100%, transparent 0);
  background-size:
    calc(48 * var(--size)) calc(15 * var(--size)),
    calc(15 * var(--size)) calc(35 * var(--size)),
    calc(15 * var(--size)) calc(35 * var(--size)),
    calc(25 * var(--size)) calc(15 * var(--size)),
    calc(28 * var(--size)) calc(28 * var(--size));
  background-position:
    calc(25 * var(--size)) calc(5 * var(--size)),
    calc(58 * var(--size)) calc(20 * var(--size)),
    calc(25 * var(--size)) calc(17 * var(--size)),
    calc(2 * var(--size)) calc(37 * var(--size)),
    calc(76 * var(--size)) 0;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  width: calc(56 * var(--size));
  height: calc(56 * var(--size));
  border: calc(6 * var(--size)) solid var(--color-1);
  border-radius: 50%;
  left: calc(-45 * var(--size));
  top: calc(-10 * var(--size));
  background-repeat: no-repeat;
  background-image:
    linear-gradient(var(--color-1) calc(64 * var(--size)), transparent 0),
    linear-gradient(var(--color-1) calc(66 * var(--size)), transparent 0),
    radial-gradient(circle calc(4 * var(--size)), var(--color-1) 100%, transparent 0);
  background-size:
    calc(40 * var(--size)) calc(1 * var(--size)),
    calc(1 * var(--size)) calc(40 * var(--size)),
    calc(8 * var(--size)) calc(8 * var(--size));
  background-position: center center;
  box-sizing: border-box;
  animation: rotation 0.3s linear infinite;
}
.loader::before {
  left: calc(25 * var(--size));
  top: calc(60 * var(--size));
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


